.course-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .course-title:hover {
    background-color: #e0f7ff;
  }
  
  .section-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course2-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .course2-title:hover {
    background-color: #e0f7ff;
  }
  
  .section2-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .cord-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course3-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .course3-title:hover {
    background-color: #e0f7ff;
  }
  
  .section3-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .cardd-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course4-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .course4-title:hover {
    background-color: #e0f7ff;
  }
  
  .section4-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card2-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course5-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .course5-title:hover {
    background-color: #e0f7ff;
  }
  
  .section5-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card3-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }