.cord-box {
    background-color: #e6f4fa;
    border-radius: 6px;
    height: 100%;
    transition: all 0.3s ease;
}

.cord-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
li{
    text-align: left;
}
.custom-divider {
    height: 2px;
    background-color: #b2d7e8; /* soft blue to match #e6f4fa */
    width: 60%;
    margin: 10px auto 20px auto;
    border-radius: 10px;
  }
