.course-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course-title:hover {
    background-color: #e0f7ff;
  }
  
  .section-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }

  .course2-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course2-title:hover {
    background-color: #e0f7ff;
  }
  
  .section2-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .cord-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course3-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course3-title:hover {
    background-color: #e0f7ff;
  }
  
  .section3-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .cardd-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course4-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course4-title:hover {  
    background-color: #e0f7ff;
  }
  
  .section4-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card2-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course5-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: rgb(0, 238, 255);
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course5-title:hover {
    background-color: #2297be;
  }
  
  .section5-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card3-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course7-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
   
  }

  .course7-title:hover {
    background-color: #e0f7ff;
  }
  
  .section7-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card5-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course8-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course8-title:hover {
    background-color: #e0f7ff;
  }
  
  .section8-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card6-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course9-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course9-title:hover {
    background-color: #e0f7ff;
  }
  
  .section9-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card7-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course11-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course11-title:hover {
    background-color: #e0f7ff;
  }
  
  .section11-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card8-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course12-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course12-title:hover {
    background-color: #e0f7ff;
  }
  
  .section12-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card12-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course13-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course13-title:hover {
    background-color: #e0f7ff;
  }
  
  .section13-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card13-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course14-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course14-title:hover {
    background-color: #e0f7ff;
  }
  
  .section14-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card14-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course15-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course15-title:hover {
    background-color: #e0f7ff;
  }
  
  .section15-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card15-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course16-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course16-title:hover {
    background-color: #e0f7ff;
  }
  
  .section16-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card16-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course17-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course17-title:hover {
    background-color: #e0f7ff;
  }
  
  .section17-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card17-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course18-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course18-title:hover {
    background-color: #e0f7ff;
  }
  
  .section18-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card18-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course19-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course19-title:hover {
    background-color: #e0f7ff;
  }
  
  .section19-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card19-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course20-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course20-title:hover {
    background-color: #e0f7ff;
  }
  
  .section20-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card20-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course21-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course21-title:hover {
    background-color: #e0f7ff;
  }
  
  .section21-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card21-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course22-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course22-title:hover {
    background-color: #e0f7ff;
  }
  
  .section22-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card22-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }
  .course23-title {
    border: 2px solid #00bfff;
    padding: 15px;
    font-weight: bold;
    background-color: #f8f9fa;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -40px;
  }
  
  .course23-title:hover {
    background-color: #e0f7ff;
  }
  
  .section23-card {
    background-color: #e9f7fd;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  
  .card23-body {
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
  }